body{
    background-color: rgb(8, 0, 100);
    overflow: hidden;
}
label{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkblue;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
     position: absolute;
    left: 40%;
    top: 25%;
    overflow: hidden;
}
ul{
    list-style-type: none;
    color: rgb(0, 145, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    background-color: rgb(0, 0, 50);
    position:absolute;
    right: 0.06%;
    top: 0%;
    width: 48em;
    overflow: hidden;
}
a:link{
    color: rgb(0, 145, 255);
}
a:visited{
    color: rgb(0, 99, 174);
}
a:hover{
    color: rgb(63, 172, 255);
}
div{
    height:auto;
    position: absolute;
    left: 40%;
    top: 25%;
    overflow: hidden;
}
@keyframes Wow{
    0% {left:615px;right:615px;}
    25%{left:1350px;right:1350px;}
    75% {left:0px;right:0px;}
    100% {left:615px;right:615px;}   
}
#Box{
    color: rgb(0, 0, 100);
    font-family: Arial, Helvetica, sans-serif; 
    padding: 1%;
    line-height: 150px;
    height: 150px;
    width: 175px;
    animation-name: Wow;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    cursor: pointer;
    border: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 40);
    overflow: hidden;
}
#ScoreHeading{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkblue;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
     position: absolute;
    left: 29%;
    top: 10%;
    overflow: hidden;
}
#Score{
     -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkblue;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
     position: absolute;
    left: 39.2%;
    top: 14.8%;
    overflow: hidden;
}
.square{
    position: absolute;
    left: 40%;
    top: 40%;
    background-color:blue;
    overflow: hidden;
}